{% extends "base2.html" %}

{% block title %}Admin -- {% endblock %}

{% block content %}
<br>
<br>

<div class="container">
    <h3 class="text-center">Admin</h3>
    <!--
    <br>
    <p class="text-center">Data of Registered Students</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>I.D</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Course</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for db in data %}
          <tr>
            <th>{{ db.id }}</th>
            <td>{{ db.firstname }}</td>
            <td>{{ db.lastname }}</td>
            <td>{{ db.username }}</td>
            <td>{{ db.gender }}</td>
            <td>{{ db.email }}</td>
            <td>{{ db.course }}</td>
            <td> 
                <a href=" {% url 'student' db.id %} " class="btn btn-primary"  >Update</a>
                <a href="{% url 'delete_student' db.id %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    <br>
    <br>
    -->
    <p class="text-center">Data of Students who Buy Uniform</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>I.D Number</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Gender</th>
            <th>Course</th>
            <th>Strand</th>
            <th>Shirt</th>
            <th>Short</th>
            <th>Slacks</th>
            <th>Joggingpants</th>
            <th>Size</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for buy in buy_data %}
          <tr>
            <td>{{ buy.idnum }}</td>
            <td>{{ buy.fullname }}</td>
            <td>{{ buy.email }}</td>
            <td>{{ buy.contact }}</td>
            <td>{{ buy.gender }}</td>
            <td>{{ buy.course }}</td>
            <td>{{ buy.strand }}</td>
            <td>{{ buy.shirt }}</td>
            <td>{{ buy.short }}</td>
            <td>{{ buy.slacks }}</td>
            <td>{{ buy.joggingpant }}</td>
            <td>{{ buy.size }}</td>
            <td> 
              <a href="{% url 'editbuy' buy.id %}" class="btn btn-primary"> <i class='bx bx-edit nav_icon'></i></a>
              <a href="{% url 'deletebuy' buy.id %}" class="btn btn-danger"> <i class='bx bx-trash nav_icon'></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    <br>
    <br>

    <p class="text-center">Data of Students who Reserve Uniform</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>I.D Number</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Gender</th>
            <th>Course</th>
            <th>Strand</th>
            <th>Shirt</th>
            <th>Short</th>
            <th>Slacks</th>
            <th>Joggingpants</th>
            <th>Size</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for reserve in reserve_data %}
          <tr>
            <td>{{ reserve.idnum }}</td>
            <td>{{ reserve.fullname }}</td>
            <td>{{ reserve.email }}</td>
            <td>{{ reserve.contact }}</td>
            <td>{{ reserve.gender }}</td>
            <td>{{ reserve.course }}</td>
            <td>{{ reserve.strand }}</td>
            <td>{{ reserve.shirt }}</td>
            <td>{{ reserve.short }}</td>
            <td>{{ reserve.slacks }}</td>
            <td>{{ reserve.joggingpant }}</td>
            <td>{{ reserve.size }}</td>
            <td> 
              <a href="{% url 'editreserve' reserve.id %}" class="btn btn-primary"> <i class='bx bx-edit nav_icon'></i></a>
              <a href="{% url 'deletereserve' reserve.id %}" class="btn btn-danger"> <i class='bx bx-trash nav_icon'></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    <br>
    <br>

    <p class="text-center">Data of Students who Borrow Equipments</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>I.D Number</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Course</th>
            <th>Strand</th>
            <th>Items</th>
            <th>Quantity</th>
            <th>Date of Borrow</th>
            <th>Date of Return</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for borrow in borrow_data %}
          <tr>
            <td>{{ borrow.idnum }}</td>
            <td>{{ borrow.fullname }}</td>
            <td>{{ borrow.email }}</td>
            <td>{{ borrow.contact }}</td>
            <td>{{ borrow.course }}</td>
            <td>{{ borrow.strand }}</td>
            <td>{{ borrow.items }}</td>
            <td>{{ borrow.quantity }}</td>
            <td>{{ borrow.dateofborrow }}</td>
            <td>{{ borrow.dateofreturn }}</td>
            <td> 
              <a href="{% url 'editborrow' borrow.id %}" class="btn btn-primary"> <i class='bx bx-edit nav_icon'></i></a>
              <a href="{% url 'deleteborrow' borrow.id %}" class="btn btn-danger"> <i class='bx bx-trash nav_icon'></i></a>
            </td>
          </tr>
          
          {% endfor %}
        </tbody>
      </table>

</div>

<br>
<br>
<br>


{% endblock %}