{% extends "base2.html" %}

{% block title %}Admin -- {% endblock %}

{% block content %}
<br>
<br>

<div class="container">
  <div class="text-center">
    <div class="row">
      <div class="col-md-4">
        <h4>No. of Students who buy</h4>
        {% for l in length1 %}
        <h4 style="color: rgb(231, 52, 52);">{{ l }}</h4>
        {% endfor %}
      </div>
      <div class="col-md-4">
        <h4>No. of Students who Reserve</h4>
        {% for l in length2 %}
        <h4 style="color: rgb(231, 52, 52);">{{ l }}</h4>
        {% endfor %}
      </div>
      <div class="col-md-4">
        <h4>No. of Students who Borrow</h4>
        {% for l in length3 %}
        <h4 style="color: rgb(231, 52, 52);">{{ l }}</h4>
        {% endfor %}
      </div>
    </div>
  </div>
  <br><br>
  <p class="text-center">Data of Available Equipments</p>
  <table class="table table-hover">
      <thead>
        <tr>
          <th>Equipments</th>
          <th>Quantity Left</th>
          <th>No. of borrowers</th>
        </tr>
      </thead>
      <tbody>
        {% for i in inventory %}
        <tr>
          <td>{{ i.equipment }}</td>
          <td>{{ i.quantity }}</td>
          <td>{{ i.borrowers }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inventoryModal"><i class='bx bx-plus-medical' ></i> Add Equipment</button>

   <!--MODAL INVENTORY-->
   <div class="modal fade" id="inventoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Add Inventory</h5>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form method="POST">
        {% csrf_token %}
        <div class="row">
         <div class="col-md-12 mt-2">
          <label for="" class="form-label">Equipment</label>
          <input id="equip" type="text" class="form-control" placeholder="Enter Equipment" name="equipment" required>
         </div>
         <div class="col-md-12 mt-2">
          <label for="" class="form-label">Quantity</label>
          <input id="quants" type="number" class="form-control" name="quantity" placeholder="Enter Quantity" required>
         </div>
         <div class="col-md-12 mt-4 mb-2" style="text-align: right;">
            <input type="hidden" id="borrow" name="borrowers" value="">
          <button class="btn btn-primary" id="inventory" type="submit" name="addAttendance">Add Inventory</button>
         </div>
        </div>
       </form>
      </div>
     </div>
    </div>
   </div>
  <br><br>
    <h3 class="text-center">Admin</h3>
    <p class="text-center">Data of Students who Buy Uniform</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>I.D Number</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Gender</th>
            <th>Course</th>
            <th>Strand</th>
            <th>Shirt</th>
            <th>Short</th>
            <th>Slacks</th>
            <th>Joggingpants</th>
            <th>Size</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for buy in buy_data %}
          <tr>
            <td>{{ buy.idnum }}</td>
            <td>{{ buy.fullname }}</td>
            <td>{{ buy.email }}</td>
            <td>{{ buy.contact }}</td>
            <td>{{ buy.gender }}</td>
            <td>{{ buy.course }}</td>
            <td>{{ buy.strand }}</td>
            <td>{{ buy.shirt }}</td>
            <td>{{ buy.short }}</td>
            <td>{{ buy.slacks }}</td>
            <td>{{ buy.joggingpant }}</td>
            <td>{{ buy.size }}</td>
            <td> 
              <a href="{% url 'editbuy' buy.id %}" class="btn btn-primary"> <i class='bx bx-edit nav_icon'></i></a>
              <a href="{% url 'deletebuy' buy.id %}" class="btn btn-danger"> <i class='bx bx-trash nav_icon'></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    <br>
    <br>

    <p class="text-center">Data of Students who Reserve Uniform</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>I.D Number</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Gender</th>
            <th>Course</th>
            <th>Strand</th>
            <th>Shirt</th>
            <th>Short</th>
            <th>Slacks</th>
            <th>Joggingpants</th>
            <th>Size</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for reserve in reserve_data %}
          <tr>
            <td>{{ reserve.idnum }}</td>
            <td>{{ reserve.fullname }}</td>
            <td>{{ reserve.email }}</td>
            <td>{{ reserve.contact }}</td>
            <td>{{ reserve.gender }}</td>
            <td>{{ reserve.course }}</td>
            <td>{{ reserve.strand }}</td>
            <td>{{ reserve.shirt }}</td>
            <td>{{ reserve.short }}</td>
            <td>{{ reserve.slacks }}</td>
            <td>{{ reserve.joggingpant }}</td>
            <td>{{ reserve.size }}</td>
            <td> 
              <a href="{% url 'editreserve' reserve.id %}" class="btn btn-primary"> <i class='bx bx-edit nav_icon'></i></a>
              <a href="{% url 'deletereserve' reserve.id %}" class="btn btn-danger"> <i class='bx bx-trash nav_icon'></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    <br>
    <br>

    <p class="text-center">Data of Students who Borrow Equipments</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>I.D Number</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Course</th>
            <th>Strand</th>
            <th>Items</th>
            <th>Quantity</th>
            <th>Date of Borrow</th>
            <th>Date of Return</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for borrow in borrow_data %}
          <tr>
            <td>{{ borrow.idnum }}</td>
            <td>{{ borrow.fullname }}</td>
            <td>{{ borrow.email }}</td>
            <td>{{ borrow.contact }}</td>
            <td>{{ borrow.course }}</td>
            <td>{{ borrow.strand }}</td>
            <td>{{ borrow.items }}</td>
            <td>{{ borrow.quantity }}</td>
            <td>{{ borrow.dateofborrow }}</td>
            <td>{{ borrow.dateofreturn }}</td>
            <td> 
              <a href="{% url 'editborrow' borrow.id %}" class="btn btn-primary"> <i class='bx bx-edit nav_icon'></i></a>
              <a href="{% url 'deleteborrow' borrow.id %}" class="btn btn-danger"> <i class='bx bx-trash nav_icon'></i></a>
            </td>
          </tr>
          
          {% endfor %}
        </tbody>
      </table>

</div>

<br>
<br>
<br>


{% endblock %}