{% extends "base2.html" %}

{% block title %}Student -- {% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="card custom-container">
            <div class="text-center">
                <h2 class="">Update Borrow Table</h2>
                <hr>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">I.D Number</label>
                    <input type="text" class="form-control" name="idnum" value=" {{ borrow.idnum }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Fullname</label>
                    <input type="text" class="form-control" name="fullname" value=" {{ borrow.fullname }}" >
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" value=" {{ borrow.email }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Contact</label>
                    <input type="text" class="form-control" name="contact" value=" {{ borrow.contact }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Course</label>
                    <input type="text" class="form-control" name="course" value=" {{ borrow.course }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Strand</label>
                    <input type="text" class="form-control" name="strand" value=" {{ borrow.strand }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Items</label>
                    <input type="text" class="form-control" name="items" value=" {{ borrow.items }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Quantity</label>
                    <input type="text" class="form-control" name="quantity" value=" {{ borrow.quantity }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Date Of Borrow</label>
                    <input type="text" class="form-control" name="dateofborrow" value=" {{ borrow.dateofborrow }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Date Of Return</label>
                    <input type="text" class="form-control" name="dateofreturn" value=" {{ borrow.dateofreturn }}">
                </div>
                <div class="col-md-12 mt-4 mb-2" style="text-align: center;">
                <button class="btn btn-primary" type="submit" name="update">Update</button>
                <a href="{% url 'administrator' %}" class="btn btn-secondary" type="submit" name="back">Back</a>
                </div>
                </div>
            </form>
            </div>
        </div>
    </div>


{% endblock %}