{% extends "base.html" %}

{% block title %}Buy Uniform -- {% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <div class="card custom-container">
                {% for message in messages %}
                <h3 id="messages" style="color: red;">{{message}}</h3>
                {% endfor %}	
                <div class="text-center">
                    <h2 class="">Buy Uniform</h2>
                    <hr>
                    <p>Please fill-up the necessary information needed, in order to validate your order.</p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id">I.D Number</label>
                            <input type="text" class="form-control" name="idnum" placeholder="Enter I.D Number" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fullname">Full Name</label>
                            <input type="text" class="form-control" name="fullname" placeholder="Enter Fullname" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter Email" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="contact">Contact Number</label>
                            <input type="text" class="form-control" name="contact" placeholder="Enter Contact Number" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="contact">Gender</label>
                            <select name="gender" class="form-control">
                                <option selected disabled="true">Select Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="course">Course</label>
                            <select name="course" class="form-control" >
                                <option selected disabled="true">Select Course</option>
                                <option>BET-COET</option>
                                <option>BET-MT</option>
                                <option>BET-AT</option>
                                <option>BS-IE</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="strand">Strand</label>
                            <select name="strand" class="form-control" >
                                <option selected disabled="true">Select Strand</option>
                                <option>STEM</option>
                                <option>NON-STEM</option>
                                <option>NO-STRAND</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <h3 class="text-center">Uniform Details</h3>
                    <hr>
                    <h6 class="text-center">Uniform information <br> 
                        *Please Input a value for shirt, short, slacks, joggingpant each has only a maximum of 5*</h6>
                    <br>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="shirt">Shirts</label>
                            <input type="number" name="shirt" class="form-control" value="1" min="0" max="5" name="shirt">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="shirt">Shorts</label>
                            <input type="number" name="short" class="form-control" value="1" min="0" max="5" name="shirt">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="shirt">Slacks</label>
                            <input type="number" name="slacks" class="form-control" value="1" min="0" max="5" name="shirt">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="shirt">Joggingpants</label>
                            <input type="number" name="joggingpant" class="form-control" value="1" min="0" max="5" name="shirt">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="course">Size</label>
                        <select name="size" class="form-control" >
                            <option selected disabled="true">Select Size</option>
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                        </select>
                    </div>
                    <br>
                    

                    <div class="text-center">
                        <button type="submit" class="button-custom responsive-custom-btn">Submit Order</button>
                        <hr>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}