<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P.E Department</title>
</head>
<body>
    <nav>
        <h3>P.E Department</h3>
        <ul>
            <li>Home</li>
            <li>Services</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>


    <h3>Services</h3>
    <ul>
        <li>Buy</li>
        <li>Reserve</li>
        <li>Borrow</li>
    </ul>

    <h3>About</h3>
    <p>P.E Department description</p>

    <h3>Contact</h3>
    <h4>Phone: 09154565451</h4>
    <h4>Email: sample@gmail.com</h4>
    <h4>Message</h4>
    <textarea></textarea>
    <button>Submit</button>
    

</body>
</html>