<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P.E Department</title>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {% include "navbar.html" %}

    <div style="background-image: url('assets/home-bg.jpg'); height: 500px; background-size: cover;">
        <div class="container main-container">
            <h1>Welcome to P.E Department</h1>
            <p>This is to provide a service where you can now buy a uniform, reserve, and borrow an equipments <br>
                 in the department the choice is yours.</p>
            <button class="button-custom">Explore</button>
        </div>
    </div>
    
    <br>
    <br>

    <div class="container">
        <h3>Services</h3>
        <br>
        <div class="row">
            <div class="col">
                <h3>Buy</h3>
            </div>
            <div class="col">
                <h3>Reserve</h3>
            </div>
            <div class="col">
                <h3>Borrow</h3>
            </div>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/445d09784c.js"></script>

</body>
</html>