{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="" style="background-image: url('{% static "media/tupc-bg.jpg" %}'); height: 500px; background-size: cover;">
        <div class="container main-container text-center">
            <h1>Welcome Student in our P.E Department Website</h1>
            <br>
            <p>This website is to provide a service where you can now buy a uniform, reserve, 
                and borrow  equipment from the department <br> — the choice is yours.</p>
         
            <a href="#about"><button class="button-custom">Learn More</button></a>
        </div>
    </div>
    <div id="services" class="jumbotron">
        <div class="container service-container">
            <div class="text-center">
                <h3>Our Services Offered</h3>
                <p class="lead">Experience our quality service to meet your needs.</p>
                <hr>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <i class="fas fa-shopping-cart fa-5x"></i>
                    <br>
                    <br>
                    <h3>Buy Uniform</h3>
                    <br>
                    <p>Here you can Buy P.E uniform simply input all of the necessary information needed
                        and you are good to go to buy your own P.E uniform!</p>
                    <br>
                    <a href="{% url 'buy' %}" class="service-btn">Buy Uniform</a>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="far fa-calendar-plus fa-5x"></i>
                    <br><br>
                    <h3>Make Reservation</h3>
                    <br>
                    <p>Make your own reservation, make your time productive and just simply schedule your own choice!</p>
                    <br>
                    <a href="{% url 'reserve' %}" class="service-btn">Make Reservation</a>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="fas fa-user-edit fa-5x"></i>
                    <br><br>
                    <h3>Borrow Equipments</h3>
                    <br>
                    <p>Borrow any equipments in P.E Department, just simply fill-up all the 
                        information that is needed and you can now have a good time!</p>
                    <br>
                    <a href="{% url 'borrow' %}" class="service-btn">Borrow Equipments</a>
                </div>
            </div>
        </div>
    </div>

    <br id="about">
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img src="{% static 'media/tupc.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-sm-8 align-self-center text-center">
                <br>
                <h3>About</h3>
                <hr>
                <br>
                <p class="lead">This Website is developed for our P.E department here in Technological University of the Philippines
                    Cavite Campus in order to accept orders and lend materials for our students.</p>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    
    <div class="jumbotron">
        <div class="container text-center">
            <h3>Map Visualization for the Tup Cavite Campus</h3>
            <hr>
            <br>
            <a class="map-link" href="https://www.google.com/maps/dir/14.3770265,120.9775988/technological+university+of+the+philippines+cavite/@14.36095,120.9549751,14z/data=!3m1!4b1!4m9!4
            m8!1m1!4e1!1m5!1m1!1s0x3397d43fdf3bf3d3:0x756d61b3739581bc!2m2!1d120.9661019!2d14.3450539" target="_blank">
                <div class="card">
                    <img src="{% static 'media/tupc-map.PNG' %}" alt="">
                </div>
            </a>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div id="contact" class="container slideanim">
        <h3 class="text-center slideanim">Contact</h3>
        <hr>
        <br>
        <div class="row contact-form">
            <div class="col-sm-4">
                <br>
                <div class="content">
                    <i class="fas fa-map-marker-alt logo-bg fa-2x"></i>
                    <p>Dasma, Philippines</p>
                </div>
                <div class="content">
                    <i class="fas fa-phone-alt logo-bg fa-2x"></i>
                    <p>(046) 416 4920</p>
                </div>
                <div class="content">
                    <i class="fas fa-envelope logo-bg fa-2x"></i>
                    <p> tupcservices@gmail.com</p>
                </div>
            </div>
            <div class="col-sm-8 ">
                <form method="#">
                    <br>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="txtName" class="form-control" placeholder="Name" value="" required />
                                </div>
                                <div class="form-group">
                                    <input type="email" name="txtEmail" class="form-control" placeholder="Email" value="" required/>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="txtPhone" class="form-control" placeholder="Phone Number" value="" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="txtMsg" class="form-control" placeholder="Message" style="width: 100%; height: 150px;" required></textarea>
                                </div>
                                <br>
                            </div>
                            <div class="form-group mx-auto ">
                                <button class="button-custom responsive-custom-btn">Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <br>
    <br>
{% endblock %}