{% extends "base2.html" %}
{% load static %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <div class="card custom-container">
                <div class="text-center">
                    <h2 class="">Login</h2>
                    <hr>
                </div>
                <form method="POST" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="form-group col-md">
                        <label for="loginUsername">Username</label>
                        <input type="text" class="form-control" name="username" id="loginUsername" placeholder="Enter Username" autofocus required>
                    </div>
                    <div class="form-group col-md">
                        <label for="loginPassword">Password</label>
                        <input type="password" class="form-control" name="password" id="loginPassword" placeholder="Enter Password" required>
                        <br>
                        <input type="checkbox" name="remember" id="remember">
                        <label for="remember">Remember Me</label>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="button-custom responsive-custom-btn" id="loginButton">Login</button>
                        <br>
                        <br>
                        <p>No Account yet? <a href="{% url 'register' %}">Click Here to Register</a></p>
                        <hr>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}