{% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-custom sticky-top">
        <div class="container">
            <h4 class="title"> <img src="{% static 'media/tup-logo.png' %}" alt=""> P.E Department</h4>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <p class="nav-link" id="link">Welcome, {{request.user}}.</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="{% url 'index' %}#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="{% url 'index' %}#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="{% url 'index' %}#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="{% url 'index' %}#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="{% url 'index' %}#contact">My Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>