{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container" style="width: 400px;">
    <h3 class="text-center my-3">Register</h3>
    <form action="" method="#">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="newFname" id="newFname">
                <label for="newFname" class="form-label">First name</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="newLname" id="newLname">
                <label for="newLname" class="form-label">Last name</label>
            </div>
        </div>
        <div class="row">
            <input type="text" class="form-control" name="newUsername" id="newUsername" autofocus required>
            <label for="newUsername" class="form-label">Username</label>
        </div>
        <div class="row">
            <input type="password" class="form-control" name="newPassword" id="newPassword" required>
            <label for="newPassword" class="form-label">Password</label>    
        </div>
        <div class="row">
            <input type="password" class="form-control" name="retypePassword" id="retypePassword" required>
            <label for="retypePassword" class="form-label">Retype password</label>    
        </div>
        <div class="row">
            <input type="radio" name="gender" id="M" value="M" required>
            <label for="M" class="form-label">Male</label>
            <input type="radio" name="gender" id="F" value="F">
            <label for="F" class="form-label">Female</label>
        </div>
        <div class="row">
            <input type="email" class="form-control" name="newemail" id="newemail">
            <label for="newemail" class="form-label">email</label>
        </div>
        <div class="row">
            <select name="newCourse" class="form-select" id="newCourse">
                <option class="" value="Item 1">Item 1</option>
                <option class="" value="Item 2">Item 2</option>
            </select>
            <label for="newCourse" class="form-label">Course</label>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <a class="btn" href="login.html">Registered already?</a>
    </form>
</div>

{% endblock %}