{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container" style="width: 360px;">
    <h3 class="text-center my-3">Register</h3>
    <form action="" method="#">
        <div>
            <input type="text" class="form-control" name="newUsername" id="newUsername" autofocus required>
            <label for="newUsername" class="form-label">Username</label>
        </div>
        <div>
            <input type="password" class="form-control" name="newPassword" id="newPassword" required>
            <label for="newPassword" class="form-label">Password</label>    
        </div>
        <div>
            <input type="password" class="form-control" name="retypePassword" id="retypePassword" required>
            <label for="retypePassword" class="form-label">Retype password</label>    
        </div>
        <div>
            <input type="radio" name="gender" id="M" required>
            <label for="M" class="form-label">Male</label>
            <input type="radio" name="gender" id="F">
            <label for="F" class="form-label">Female</label>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <a class="btn" href="login.html">Registered already?</a>
    </form>
</div>

{% endblock %}