{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron">
    <div class="container" >
        <div class="card custom-container ">
            <div class="text-center">
                <h2>Register</h2>
                <hr>
                <p>Please fill-up the necessary informations needed in order to validate your own account.</p>
            </div>
            {% if form.errors %}    
            <div class="text-center">
                <p>Invalid form credentials. Try again.</p>
            </div>
            {% endif %}
            <br>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <label for="newFname" class="form-label">First name: </label>
                        <input type="text" class="form-control" name="first_name"  placeholder="Enter Firstname" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="newLname" class="form-label">Last name: </label>
                        <input type="text" class="form-control" name="last_name"  placeholder="Enter Lastname" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="newUsername" class="form-label">Username:</label>
                        <input type="text" class="form-control" name="username"  placeholder="Enter Username" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="newemail" class="form-label">Email: </label>
                        <input type="email" class="form-control" name="email"  placeholder="Enter email" required>
                    </div>
          
                </div>
                <div>
                    <p>Password must contain:</p>
                    <ul>
                        <li>at least 8 characters</li>
                        <li>at least 1 uppercase letter</li>
                        <li>at least 1 digit</li>
                    </ul>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="newPassword" class="form-label">Password: </label>  
                        <input type="password" class="form-control" id="pass1" name="password1"  placeholder="Enter Password" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="newUsername" class="form-label">Retype: </label>
                        <input type="password" class="form-control" id="pass2" name="password2"  placeholder="Re type Password" required>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" id="reg" class="button-custom responsive-custom-btn">Register</button>
                    <hr>
                    <p>Registered already? <a href="{% url 'login' %}">Click Here to Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}