{% extends "base2.html" %}

{% block title %}Student -- {% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="card custom-container">
            <div class="text-center">
                <h2 class="">Update Student Info</h2>
                <hr>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                <div class="col-md-12 mt-2">
                <label for="" class="form-label">Firstname</label>
                <input type="text" class="form-control" name="firstname" value=" {{ student.firstname }}">
                </div>
                <div class="col-md-12 mt-2">
                <label for="" class="form-label">Lastname</label>
                <input type="text" class="form-control" name="lastname" value=" {{ student.lastname }}" >
                </div>
                <div class="col-md-12 mt-2">
                <label for="" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" value=" {{ student.username }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Password</label>
                    <input type="text" class="form-control" name="password" value=" {{ student.password }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Gender</label>
                    <input type="text" class="form-control" name="gender" value=" {{ student.gender }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" value=" {{ student.email }}">
                </div>
                <div class="col-md-12 mt-2">
                    <label for="" class="form-label">Course</label>
                    <input type="text" class="form-control" name="course" value=" {{ student.course }}">
                </div>
                <div class="col-md-12 mt-4 mb-2" style="text-align: center;">
                <button class="btn btn-primary" type="submit" name="addPayroll">Update</button>
                </div>
                </div>
            </form>
            </div>
        </div>
    </div>


{% endblock %}