{% extends "base.html" %}

{% block title %}Buy Uniform -- {% endblock %}

{% block content %}
<div class="container" style="background-color: #C5C5C5">  
<br><br>
   <div class="container">
       <div class="row">
           <div class="col">
               <h3>You have successfully submit your order:</h3>
               <br>
                <h4>Fullname: {{get1}} </h4>
                <h4>Email: {{get2}}</h4>
                <h4>Contact: {{get3}}</h4>
                <h4>Course: {{get4}}</h4>
                <h4>Mop: {{get5}}</h4>
                <h4>Address: {{get6}}</h4>
                <h4>Total Payment: P {{get7}}</h4>
                <br>
                <h4>Thank You, have a nice day!</h4>
                <input type="hidden" id="d1" value="{{get1}}">
                <input type="hidden" id="d2" value="{{get2}}">
                <input type="hidden" id="d3" value="{{get3}}">
                <input type="hidden" id="d4" value="{{get4}}">
                <input type="hidden" id="d5" value="{{get5}}">
                <input type="hidden" id="d6" value="{{get6}}">
                <input type="hidden" id="d7" value="{{get7}}">
            </div>

       </div>
       <br>
   </div>
<br>
    <div class="text-center">
        <p>* Kindly download the receipt for the validation of your order and present it upon receiving*</p>
        <a type="button" id="receipt" class="btn btn-success w-100" style="color: white;">Download Receipt</a>
        <a href="{% url 'index' %}" class="btn btn-primary w-100" >Back</a>
    </div>
    <br>
</div>
<br><br><br>
{% endblock %}