html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Heebo', sans-serif;
    background-color: #15241f;
}
hr{
    border-top: 1px solid white;
    width: 10%;
}
h3{
    color: white;
}
/*NAVIGATION*/
.title{
    font-weight: 700;
    padding-top: 10px;
}
.nav-link{
    font-weight: 700;
    margin-left: 15px;
    font-size: 15px;
}

#link:hover{
    color: rgb(160, 211, 173);
}


/*MAIN*/
.main-container{
    padding-top: 130px;
    color: white;
}
.main-container h1{
    font-weight: 600;
    font-size: 50px;
}
.button-custom{
    padding: 10px;
    width: 100px;
    background-color : rgb(36, 114, 56);
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px #39473e;
}
.button-custom:hover{
    background-color: rgb(39, 124, 60);
    transition: .3s;
}

/*SERVICES*/
.service-container{
    color: white;
}

.card{
    padding: 30px;
    background-color: #1b2e28;
    border-radius: 50px;
    box-shadow: 7px 7px #18221f;
}
.card i{
    color: #a6c9b1;
}
.card h3{
    font-weight: 600;
}

/*ABOUT*/
.bg-custom{
    background-image: linear-gradient(to top, #171a1e, #0e2127, #002829, #032e21, #1b3212);
    color: white;
    text-align: center;
}

/*CONTACT*/
.contact-container{
    color: white;
}
.content{
    display: flex;
}
.content p{
    margin-left: 10px;
}


/*FOOTER*/
footer {
    padding: 2em; }
  
.footer-part {
    background: #121212; 
}
.footer-part a {
    color: #008036; 
}
.footer-part p {
    color: rgba(255, 255, 255, 0.3); 
}
