html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
hr{
    border-top: 1px solid black;
    width: 10%;
}

/*NAVIGATION*/
.bg-custom{
    background-color: rgb(114, 47, 47);
}
.title{
    padding-top: 10px;
    color: white;
}
.title img{
    width: 40px;
}
.nav-link{
    margin-left: 15px;
    font-size: 17px;
}
#link{
    color: white;
}

#link:hover{
    transform: scale(1.02);
}


/*MAIN*/
.main-container h1{
    padding-top: 130px;
    color: white;
    font-size: 50px;
}
.main-container p{
    color: white;
    font-size: 20px;
}
.button-custom{
    padding: 10px;
    width: 320px;
    background-color : rgb(114, 47, 47);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px #1f1616;
}
.button-custom:hover{
    background-color: #1f1616;
    box-shadow: 4px 4px rgb(114, 47, 47);
    transition: .3s;
    transition: ease-out .3s;
}


/*SERVICES*/
.service-container h3{
    font-size: 35px;
}
.service-btn{
    padding: 10px;
    width: 120px;
    background-color : rgb(114, 47, 47);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px #1f1616;
}
.service-btn:hover{
    text-decoration: none;
    color: white;
    background-color: #1f1616;
    box-shadow: 4px 4px rgb(114, 47, 47);
    transition: .3s;
    transition: ease-out .3s;
}
.service-container i:hover{
    color: rgb(114, 47, 47);
}



/*CONTACT*/
.content{
    display: flex;
}
.content i:hover{
    color: rgb(114, 47, 47);
}
.content p{
    font-size: 22px;
    margin-left: 10px;
}


/*FOOTER*/
footer {
    padding: 1.5em; 
}
.footer-part p {
    font-size: 15px;
    color: white; 
}


/******************************************/
/*BUY*/
.card-buy{
    padding: 50px;  
    border-radius: 20px;
    box-shadow: 4px 4px rgb(114, 47, 47);
}



/******************************************/
/*MEDIA QUERIES*/
@media only screen and (max-width: 530px) {
    .main-container h1{
        font-size: 45px;
        padding-top: 90px;
    }
}
@media only screen and (max-width: 460px) {
    .main-container h1{
        font-size: 40px;
        padding-top: 80px;
    }
    .main-container p{
        font-size: 16px;
    }
    .content p{
        font-size: 20px;
    }
    .content i{
        font-size: 18px;
    }
    .responsive-custom-btn{
        width: 200px;
    }
}